body {
  font-family: "Roboto";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red-color-oficial: #930a18;
  --blue-oficial: blue;
  --trasparencia-after: #0000006e;
  --trasparencia-offcanvas: #000000c9;
  --blanco-titulo: #ffffffa2;
  --negro: #000;
  --negro-tenue: rgb(51, 51, 51);
  --rojo: #ff0000;
  --ig: #f77737;
  --light-blue: rgb(68, 68, 255);
}

.background {
  background: url("../assets/re4.jpeg") 50% 50% no-repeat;
  min-height: 60vh;
  /* height: 100vh; */
  max-height: 95vh;
  background-size: cover;
  /* background-position: center; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.background::after {
  width: 100%;
  position: absolute;
  content: "";
  background-color: var(--trasparencia-after);
  top: 0;
  right: 0;
  /* z-index: 1; */
  height: 100%;
}
.carrusel {
  margin: 90px;
  z-index: 2;

  /* display: none; */
}
.boton {
  justify-content: flex-end;
  margin: 10px;
}
.bg-personalized {
  background-color: var(--trasparencia-offcanvas);
}
.texto-carousel,
.texto-carousel > p {
  margin: 0 !important;
  padding: 0 !important;
}
.boton-personalizado > button {
  border-radius: 50%;
  height: 8px !important;
  width: 8px !important;
}
.wrapper {
  background: rgba(0, 0, 0, 0.164);
  display: grid;
  place-items: center !important;
}
.descripcion > p {
  display: grid;
  place-items: center;
  margin: 10px;
  text-align: center;
}

.contenido > a {
  text-decoration: none;
  color: inherit;
}
.titulo-cabecera > h4 {
  margin: 0;
}

.titulo-cabecera {
  padding: 1.2em;
  /* margin: 10px; */
  cursor: pointer;
  text-align: center;
  /* background: var(--blanco-titulo); */
}
.contenido:hover {
  background: var(--red-color-oficial);
  color: #fff;
  transition: 0.3s;
  transform: scale(0.9);
}

.imagenes-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenes-desc > img {
  width: 295px;
  margin: 10px;
}
.zoom-it {
  transition: transform 0.2s;
  padding-bottom: 10px;
}
/* .contenido .zoom-it:hover {
  transform: scale(0.9);
} */

.contenido {
  background-color: var(--blanco-titulo);
  margin: 10px;
  width: auto;
  transition: 0.3s all;
}
.footer {
  min-height: 55vh;
  height: 100%;
  max-height: 1260px;
  background: var(--negro-tenue);
}
.redes {
  display: flex;
  /* justify-content: t; */
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  text-align: center !important;
}
.fb > p,
.tw > p,
.ig > p,
.yt > p {
  margin: 0 !important;
  transition: 0.3s all;
}

.fb,
.ig,
.yt,
.tw {
  transition: .3s all;
}

.fb:hover {
  color: var(--blue-oficial);
}
.ig:hover {
  color: var(--ig);
}
.tw:hover {
  color: var(--light-blue);
}
.yt:hover {
  color: var(--rojo);
}
.redes .red {
  display: flex;
  gap: 15px;
  cursor: pointer;
  margin: 10px;
  font-size: 1.5em;
}

.redes .header {
  /* margin: 10px; */
  padding: 20px;
}
.red > i {
  font-size: 1em !important;
  
}
